/* h2{
    color: beige;
}

body {
    background grey;
}

button {
    width: 100px;
    padding: 10px;
    background: pink;
    color: white;
    border: none;
    cursor: pointer;
    border-raidus: 8%;
} */

.box {
    background: beige;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}